*.obj
*.exe
.idea/
.settings/
.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.common.settings
.cproject
.project
CMakeLists.txt
cmake-build-debug/
cmake-build-release/
build/
Debug/
Release/
robo_test